body {
    background-color: #c2eefe;
    
}

@media (min-width: 1000px) {

    body {
        padding-left: 30%;
        padding-right: 30%;
    }
}

#logo {
    height: 300px;
    width: 300px;
}

.logo-wrapper {
    width: 100%;
    margin: auto;
}