---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Welcome" id="intro">
  <Fragment slot="lead">
    Get ready for <span class="text-primary">Elation Hacks 2022</span>! <span
      class="text-primary">Thirteen teams</span
    > will enter, but only one will take home the <span class="text-primary"
      >ultimate prize</span
    >.
  </Fragment>
</ContentSection>
